*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: #06283D;
    overflow-x: hidden;
}
.section-wrapper{
    width: 50%;
    display: block;
    margin: auto;
}
.section-wrapper i,h1{
    color: white;
    margin-left: 10px;
}
.section-wrapper i{
    font-size: 35px;
}
.section-title{
    display: flex;
}
.section-wrapper input{
    margin-top: 30px;
    width: 100%;
    padding-bottom: 15px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: none;
    font-size: 25px;
    color: white;
}
.section-wrapper button {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 25px;
    font-weight: 600;
    font-size: 22px;
}
.section-wrapper button a {
    text-decoration: none;
    color: white;
}
.section-wrapper button:hover{
    transition-duration: 0.4s;
    padding: 12px 35px;
    font-size: 24px;
}
.fp-watermark{
    display: none !important;
}
#home {
    float: right;
    text-decoration: none;
    color: white;
    font-size: 19px;
    margin-top: 25px;
}
@media only screen and (max-width: 800px) {
    .section-wrapper h1{
        font-size: 20px ;
    }
    .section-wrapper button{
        padding: 5px 15px;
        font-size: 15px;
    }
    #home{
        font-size: 15px;
    }
}
