<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Untitled</title>
    <link
      rel="stylesheet"
      href="./assets/bootstrap/css/bootstrap.min.css?h=f1a8fe9e98944b9d682ec5c3efac8f17"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="./assets/css/styles.min.css?h=850e7db16bbb45ff9dc580d27d0540ac"
    />
  </head>
  <body>
    <!-- Start: ♣ Login form Page BS4 ♣ -->
    <div class="container-fluid">
      <div class="row mh-100vh">
        <!-- Start: Login block -->
        <div
          class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0"
          id="login-block"
        >
          <!-- Start: Login container -->
          <div class="m-auto w-lg-75 w-xl-50">
            <!-- Start: Your company -->
            <h2 class="text-info fw-light mb-5">
              <i class="fa fa-diamond"> </i>&nbsp;RanvelS
            </h2>
            <!-- End: Your company --><!-- Start: Login form -->
            <form id="login-form">
              <!-- Start: Email -->
              <div class="form-group mb-3">
                <label class="form-label text-secondary">User Name</label
                ><input
                  class="form-control"
                  type="text"
                  required=""
                  inputmode="text"
                />
              </div>
              <!-- End: Email --><!-- Start: Password -->
              <div class="form-group mb-3">
                <label class="form-label text-secondary">Password</label
                ><input class="form-control" type="password" required="" />
              </div>
              <!-- End: Password --><!-- Start: Submit --><button
                class="btn btn-info mt-2"
                type="submit"
              >
                Log In</button
              ><!-- End: Submit -->
            </form>
            <!-- End: Login form --><!-- Start: Forgot password -->
            <!-- End: Forgot password -->
          </div>
          <!-- End: Login container -->
        </div>
        <!-- End: Login block --><!-- Start: Background image -->
        <div
          class="col-lg-6 d-flex align-items-end"
          id="bg-block"
          style="
            background-image: url('./assets/images/cyberxlarge.jpg');
            background-size: cover;
            background-position: center center;
          "
        >
          <!-- Start: Credit photo -->
          <p class="ms-auto small text-dark mb-2">
            <em>Photo by&nbsp;</em
            ><a
              class="text-dark"
              href="https://unsplash.com/photos/v0zVmWULYTg?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              target="_blank"
              ><em>Aldain Austria</em></a
            ><br />
          </p>
          <!-- End: Credit photo -->
        </div>
        <!-- End: Background image -->
      </div>
    </div>
    <!-- End: ♣ Login form Page BS4 ♣ -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./login.js" ></script>

  </body>
</html>
